<div class="container form contact">
  <h1 class="text-center">Contact</h1>
  <div ng-show="success" class="alert alert-success col-md-4 col-md-offset-4" role="alert">
    <b>Votre message a bien été envoyé !</b>.
  </div>
  <div ng-show="contactError" class="alert alert-danger col-md-4 col-md-offset-4" role="alert">
    {{contactError}}
  </div>
  <form ng-hide="success" class="col-md-6 col-md-offset-3" ng-submit="sendContact()">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" ng-show="contactError">{{contactError}}</div>
      <div class="form-group">
        <label>Votre adresse mail</label>
        <input type="email" class="form-control" ng-model="contact.from" id="objet" placeholder="john.doe@gmail.com">
      </div>
      <div class="form-group">
        <label>Entrez votre objet</label>
        <input type="text" class="form-control" ng-model="contact.subject" id="objet" placeholder="Votre Objet">
      </div>
      <div class="form-group">
        <label for="password">Entrez votre mot de passe</label>
        <textarea class="form-control" ng-model="contact.message" placeholder="Votre message"></textarea>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-disabled="processing">{{contactButtonLabel}}</button>
    </div>
  </form>
</div>
