<div class="container form signup">
  <h1 class="text-center">Editez votre compte</h1>
  <div ng-show="success" class="alert alert-success col-md-4 col-md-offset-4" role="alert">
    <b>Votre compte à bien été enregistré !</b><br>
    Un mail de confirmation vous a été envoyé à l'adresse mail renseignée avec la suite des instructions pour activer votre compte.
  </div>
   <div ng-show="signupError" class="alert alert-danger col-md-4 col-md-offset-4" role="alert">
    {{signupError}}
  </div>
  <form ng-hide="success" class="col-md-4 col-md-offset-4" ng-submit="sendSignup()">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" ng-show="signupError">{{signupError}}</div>
      <p>{{me.name}} {{me.lastname}}</p>
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" class="form-control" ng-model="profilInfos.email" id="email" value="john.doe@gmail.com" placeholder="{{me.account.email}}">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" ng-model="profilInfos.password" id="password">
      </div>
      <div class="form-group">
        <label for="password_confirmation">Confirmez le mot de passe</label>
        <input type="password" class="form-control" ng-model="profilInfos.password_confirmation" id="password_confirmation">
      </div>
      <!-- <div class="form-group">
        <label for="photo">Importer une photo</label>
        <input type="file" id="photo" placeholder="">
      </div> -->
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-disabled="processing">{{profilButtonLabel}}</button>
    </div>
  </form>
</div>
