<div class="container form login">
  <h1 class="text-center">Connectez-vous</h1>
  <div ng-show="success" class="alert alert-success col-md-4 col-md-offset-4" role="alert">
    <b>Votre compte a bien été enregistré !</b><br>
    Un mail de confirmation vous a été envoyé à l'adresse mail renseignée avec la suite des instructions pour activer votre compte.
  </div>
  <form ng-hide="success" class="col-md-4 col-md-offset-4" ng-submit="sendlogin()">
    <div class="panel-body">
      <div class="alert alert-danger" role="alert" ng-show="loginError">{{loginError}}</div>
      <div class="form-group">
        <label for="email">Entrez votre username</label>
        <input type="text" class="form-control" ng-model="loginInfos._username" id="username" placeholder="john.doe@gmail.com">
      </div>
      <div class="form-group">
        <label for="password">Entrez votre mot de passe</label>
        <input type="password" class="form-control" ng-model="loginInfos._password" id="password" placeholder="">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-disabled="processing">{{loginButtonLabel}}</button>
    </div>
  </form>
  <p>Vous n'avez pas encore de compte ? <a ui-sref="signup">Inscrivez-vous ici</a></p>
</div>
