<div class="container user">
	<di class="row clearfix">
		<img class="col-md-4 pull-right" ng-src="../img/avatar.png">
		<div class="col-md-offset-2 col-md-4 pull-left">
		  <h1 class="">John Doe - 28 ans</h1>
		  <a href="">Voir toutes ses annonces</a>
		</div>
	</div>
	<div class="org_member row">
		<div class="col-md-8 col-md-offset-2 list-group">
			<h2 class="text-center">Associations</h2>
		    <div class="list-group-item">
		      	<h3>Nom de l'assoc</h3>
		        <p class="list-group-item-text">77890 Villeneuve</p>
		        <p class="list-group-item-text">Membre depuis 2 ans</p>
				<a href="">Voir la fiche de l'association</a>
		    </div>
		    <div class="list-group-item">
		      	<h3>Nom de l'assoc</h3>
		        <p class="list-group-item-text">77890 Villeneuve</p>
		        <p class="list-group-item-text">Membre depuis 2 ans</p>
				<a href="">Voir la fiche de l'association</a>
		    </div>
		    <div class="list-group-item">
		      	<h3>Nom de l'assoc</h3>
		        <p class="list-group-item-text">77890 Villeneuve</p>
		        <p class="list-group-item-text">Membre depuis 2 ans</p>
				<a href="">Voir la fiche de l'association</a>
		    </div>
		    <div class="list-group-item">
		      	<h3>Nom de l'assoc</h3>
		        <p class="list-group-item-text">77890 Villeneuve</p>
		        <p class="list-group-item-text">Membre depuis 2 ans</p>
				<a href="">Voir la fiche de l'association</a>
		    </div>
	  </div>
	</div>
</div>
