body{
  margin-top:50px;
  padding-top: 10px;
}

header{
	nav{

		div.menu{
			height: calc(100% - 55px);
			width: 295px;
			position: fixed;
			left: -295px;
			bottom: 0;
			background-color: #222;
    		transition: left 0.5s;

			ul{
				margin-top: 50px;
				li{
					list-style: none;
					margin-bottom: 35px;
					a{
						color: #fff;
						text-decoration: none;
						font-size: 20px;
						text-transform: uppercase;
					}
				}
			}

			&.opened{
    			left:0;
    		}
		}

		.navbar-header{
			float: none;
			text-align: center;
			line-height: 55px;

			button.menu-btn{
				background: none;
	    		border: none;
	    		float: left;
	    		padding:0;
	    		background: url(../img/menu.png) no-repeat;
	    		background-size: 50px auto;
	    		display: inline-block;
	    		width: 50px;
	    		height: 50px;

	    		&.opened{
	    			background: url(../img/menu-close.png) no-repeat;
	    		}
			}

			a{
	    		vertical-align: middle;
				float: none;
				line-height: normal;

				&.navbar-brand img{
					height: 60px;
					display: inline-block;
				}
			}

			div.header-buttons{
				float: right;
				display: inline-block;

				a.search{
					display: inline-block;
					width: 48px;
					height: 48px;
					background: url(../img/search.png) no-repeat;
				}

				div{
					display: inline-block;

					a{
						display: inline-block;
						width: 48px;
						height: 48px;

						&.login{
							background: url(../img/login.png) no-repeat;
						}
						&.account{
							background: url(../img/account.png) no-repeat;
						}
						&.logout{
							background: url(../img/logout.png) no-repeat;
						}
					}
				}
			}
		}
	}
}

.main{
	padding-top: 60px;

	h1{
		margin-bottom: 30px;
	}
	form{
		margin-bottom: 30px;

		input{
			&[type="checkbox"]{
				margin-right: 10px;
			}
		}
	}
}

.container.home{
	.block{
		height: 600px;

		.col-md-4{
			text-align:center;
		}

		.thumbnail{
			min-height: 200px;
		}
	}

	.vertical-center{
		line-height: 600px;
		 .thumbnail{
		 	line-height: normal;
		 	display: inline-block;
		 	vertical-align: middle;
		 }
	}
}

.container.form{

	p{
		clear: both;
		text-align: center;
	}
}

textarea{
	min-height : 200px;
}

.container.search{
	ul{
		clear: both;
	}	
}

.container.announcement{
	p{
		margin-bottom: 20px;
	}	
	a{
		margin-top: 20px;
	}
}


@media screen and (max-width: 1023px) {
	.container.home{
		.block{
			height: auto;
		}
		.vertical-center{
			line-height: normal;

			.thumbnail{
				display: block;
			}
		}
	}
}

@media screen and (max-width: 767px) {
  	input{
		&[type="file"]{
			width: 100%;
		}
	}

	.container.home{
		.block{
			height: auto;
		}
		.vertical-center{
			line-height: normal;
		}
	}
}